<h3>Your Shopping Cart</h3>
<table class="table table-striped">
    <tbody>
        {{#each-in shoppingCart.items as |id item|}}
        <tr>
            <td>{{item.item.name}}</td>
            <td> {{item.item.price}}</td>
            <td> {{item.quantity}}</td>
            <td>                
                <button class="btn btn-danger" {{action 'removeItem' item.item}}>
                Remove item
                </button>
            </td>
        </tr>
        {{/each-in}}
    </tbody>
</table>
{{outlet}}